<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.giggler.giggle.followList">


<!-- 팔로우한 리스트 불러오기 -->
	<select id="followingList" parameterType="Integer" resultType="com.giggler.giggle.dto.FollowListDTO">
		<![CDATA[

		select *
        from  user
        where user_no IN (select follow_user
							from follow
							where user_no = #{user_no})

		]]>
	</select>
	

<!-- 나를 팔로우한 리스트 불러오기 -->
	<select id="followerList" parameterType="com.giggler.giggle.dto.FollowListDTO" resultType="com.giggler.giggle.dto.FollowListDTO">
		<![CDATA[
			select 	u.user_no, u.profile_image, u.user_nick, u.status_message
			from	user u 
			where	user_no in (
					select	follower_user
			        from	follower
			        where	user_no = #{user_no});
		]]>

<!-- 팔로워 리스트 불러오기 -->
<!--	<select id="followerList" parameterType="Integer" resultType="com.giggler.giggle.dto.FollowListDTO">
		select *
        from  user
        where user_no IN (select follower_user
							from follower
							where user_no = #{user_no})
	</select> -->
	
<!-- 블락 리스트 불러오기 -->
	<select id="blockList" parameterType="Integer" resultType="com.giggler.giggle.dto.FollowListDTO">
		select *
        from  user
        where user_no IN (select block_user
							from block
							where user_no = #{user_no})

	</select>
</mapper>
	