<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.giggler.giggle.like">

	<!-- 게시글에 해당하는 댓글 갯수 구하기 -->
	<select id="likeCount" parameterType="com.giggler.giggle.dto.FollowDTO"  resultType="Integer">
		<![CDATA[
			SELECT COUNT(*) 
			FROM postlike 
			WHERE post_no = #{post_no} 
		
		]]>
	</select>	
	
<!-- post_no에 해당하는 댓글 목록 가져오기 -->
	<select id="likeList" parameterType="Integer" resultType="com.giggler.giggle.dto.LikeDTO" >
		<![CDATA[
			 SELECT postlike.post_no,			       
			       postlike.user_no,
			       postlike.like_no	
             FROM postlike 
			WHERE user_no= #{user_no}
			
		]]>
	</select>
	
	
	
<insert id="pushLike" parameterType="com.giggler.giggle.dto.LikeDTO">
		<![CDATA[
            INSERT INTO postlike (post_no, user_no)
            VALUES (#{post_no}, #{user_no})
            ]]>
</insert>


<!-- select id="Liked" parameterType="com.giggler.giggle.dto.LikeDTO">
		<![CDATA[
    UPDATE post
    SET
    like_no = (SELECT COUNT(*)
    FROM post
    WHERE post_no = #{post_no})
    WHERE user_no = #{user_no}]]>
</select-->

<select id="isLike" resultType="Integer" parameterType="com.giggler.giggle.dto.LikeDTO">
		<![CDATA[
    SELECT COUNT(*) 
    From postlike 
    WHERE post_no = #{post_no} AND user_no = #{user_no}]]>
</select>


<delete id="unLike" parameterType="com.giggler.giggle.dto.LikeDTO">
		<![CDATA[
    DELETE FROM postlike
    WHERE post_no = #{post_no} AND user_no = #{user_no}]]>
</delete>



	<!-- 게시글 번호에 해당하는 게시글의 댓글 수 증가 -->
	<update id="upLikeCnt" parameterType="Integer">
	<![CDATA[
	UPDATE post SET like_cnt = like_cnt + 1
	WHERE post_no = #{post_no}
	]]>
	</update>
		<!-- 게시글 번호에 해당하는 게시글의 댓글 수 증가 -->
	<update id="unLikeCnt" parameterType="Integer">
	<![CDATA[
	UPDATE post SET like_cnt = like_cnt - 1
	WHERE post_no = #{post_no}
	]]>
	</update>

</mapper>

