<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.giggler.giggle.List">


	<!-- 메인 목록 가져오기 : giggle_post 조회용 -->
	<select id="AllFeedList"  resultType="com.giggler.giggle.dto.ListDTO">
		<![CDATA[
			SELECT		post_no, user_no, user_nick, profile_image, text_content,post_date, like_cnt , comment_cnt ,post_link
			FROM 		giggledbaws.giggle_post
			ORDER BY post_date DESC;
		]]>
	</select>
	
	
	<!-- 검색 목록 가져오기  -->
	<select id="selectsearchfeedList" parameterType="com.giggler.giggle.dto.ListDTO" resultType="com.giggler.giggle.dto.ListDTO">
		<![CDATA[
			SELECT 		p.post_no, u.user_no, u.user_nick, u.profile_image, p.text_content, p.post_date, p.like_cnt , p.comment_cnt ,p.post_link
			FROM 		giggledbaws.post p
			LEFT JOIN   giggledbaws.user u      
			ON 			u.user_no = p.user_no
			WHERE       p.post_no  > 0 
			AND         u.user_nick LIKE CONCAT('%' , #{keyword} , '%') 
			OR 			p.text_content LIKE CONCAT('%' ,#{keyword}, '%')
			ORDER BY    p.post_date desc;
		]]>
	</select>

	

</mapper>