<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.giggler.giggle.List">


	<!-- 메인 목록 가져오기 -->
	<select id="AllFeedList"  resultType="com.giggler.giggle.dto.ListDTO" parameterType="String">
		<![CDATA[

			SELECT		p.post_no, u.user_no, u.user_nick, u.profile_image, p.text_content, p.post_date, 
						p.like_cnt , p.comment_cnt , p.share_cnt, p.post_link,
						IF(p.post_no IN (SELECT post_no FROM postlike WHERE user_no = #{user_no}), "Y", "N") isLike
			FROM 		giggledbaws.user u
			INNER JOIN  giggledbaws.post p  
			ON 			p.user_no = u.user_no
			WHERE		p.user_no NOT IN (SELECT block_user FROM block WHERE user_no = #{user_no})
			AND 		p.user_no NOT IN (SELECT user_no FROM block WHERE block_user = #{user_no})
			ORDER BY	p.post_no desc;

		]]>
	</select>
	
	
	<!-- 검색 목록 가져오기 feed  -->
	<select id="selectsearchfeedList" parameterType="com.giggler.giggle.dto.ListDTO" resultType="com.giggler.giggle.dto.ListDTO">
		<![CDATA[
			SELECT 		p.post_no, u.user_no, u.user_nick, u.profile_image, p.text_content, p.post_date, p.like_cnt , p.comment_cnt ,p.post_link
			FROM 		giggledbaws.user u      
			LEFT JOIN   giggledbaws.post p     
			ON 			u.user_no = p.user_no
			WHERE    	p.text_content LIKE CONCAT('%' ,#{keyword}, '%')
			AND			p.user_no NOT IN (SELECT block_user FROM block WHERE user_no = #{user_no})
			AND 		p.user_no NOT IN (SELECT user_no FROM block WHERE block_user = #{user_no})
			ORDER BY    p.post_date desc;
		]]>
	</select>
	<!-- 검색 목록 가져오기 user -->
	<select id="selectsearchuserList" parameterType="String" resultType="com.giggler.giggle.dto.UserDTO">
		<![CDATA[
			SELECT 		*
			FROM 		giggledbaws.user    
			WHERE 		user_nick LIKE CONCAT('%', #{keyword}, '%')
		]]>
	</select>

	<!-- search - mypage / notmypage 알아내기 -->
	<select id="Gouserpage" parameterType="Integer" resultType="com.giggler.giggle.dto.UserDTO">
		<![CDATA[
			SELECT 		user_no , user_nick
			FROM 		giggledbaws.user    
			WHERE 		user_no = #{user_no}
		]]>
	</select>
	
	<!-- 	//내가 쓴글 목록 VUE : user_no으로 알아내기 -->
	<select id="MyFeedlist"  parameterType="com.giggler.giggle.dto.ListDTO" resultType="com.giggler.giggle.dto.ListDTO">
		<![CDATA[
			SELECT  p.post_no, u.user_no, u.user_nick, u.profile_image, p.text_content, p.post_date, p.like_cnt , p.comment_cnt , p.share_cnt, p.post_link,
			IF(p.post_no IN (SELECT post_no FROM postlike WHERE user_no = #{user_no}), "Y", "N") isLike
			FROM   giggledbaws.post p ,  giggledbaws.user u 
			WHERE  p.user_no = u.user_no and p.user_no =#{p.user_no}
			ORDER BY    p.post_no desc;
		]]>
	</select>
	
	<!--    //내가 좋아요한 글 목록 VUE : user_no으로 알아내기 -->
	<select id="MyLikeFeedlist"  parameterType="com.giggler.giggle.dto.ListDTO" resultType="com.giggler.giggle.dto.ListDTO">
		<![CDATA[
			SELECT       k.user_no , p.post_no , u.user_nick, u.profile_image, p.text_content, p.post_date, p.like_cnt , p.comment_cnt ,p.share_cnt,p.post_link,
						 IF(p.post_no IN (SELECT post_no FROM postlike WHERE user_no = #{user_no}), "Y", "N") isLike
			FROM         giggledbaws.postlike k
			INNER JOIN   giggledbaws.post p 
			INNER JOIN   giggledbaws.user u
			ON			 p.user_no = u.user_no
			ON		 	 p.post_no = k.post_no 
			WHERE        k.user_no = #{k.user_no}
			ORDER BY     k.post_no desc;
		]]>
	</select>
	
	
	

</mapper>