<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.giggler.giggle.user">

	<!-- 로그인하기 -->
 	<select id="userCheck" parameterType="com.giggler.giggle.dto.UserDTO" resultType="com.giggler.giggle.dto.UserDTO">
		<![CDATA[
			SELECT *
			FROM   giggle
			WHERE  user_email = #{user_email} AND user_pwd = #{user_pwd}
		]]>
	</select> 
	
	<!-- 구글로그인하기 -->
 	<select id="googleUserCheck" parameterType="com.giggler.giggle.dto.UserDTO" resultType="com.giggler.giggle.dto.UserDTO">
		<![CDATA[
			SELECT *
			FROM   giggle
			WHERE  google_token = #{google_token}
		]]>
	</select> 
	
	<!-- 아이디 찾기 -->
	 <select id="searchId" parameterType="com.giggler.giggle.dto.UserDTO" resultType="com.giggler.giggle.dto.UserDTO">
		<![CDATA[
			SELECT *
			FROM   giggle
			WHERE  user_birth = #{user_birth} AND user_phone = #{user_phone}
		]]>
	</select>
	
	<!-- 비밀번호 찾기 -->
	 <select id="searchPwd" parameterType="com.giggler.giggle.dto.UserDTO" resultType="com.giggler.giggle.dto.UserDTO">
		<![CDATA[
			SELECT *
			FROM   giggle
			WHERE  user_email = #{user_email} AND user_birth = #{user_birth} AND user_phone = #{user_phone}
		]]>
	</select>
	
	<!-- 프로필 가져오기 -->
	 <select id="getProfile" parameterType="Integer" resultType="com.giggler.giggle.dto.UserDTO">
		<![CDATA[
			SELECT *
			FROM giggle
			WHERE user_no = #{user_no}
		]]>
	</select>
	
	<!-- 프로필 사진 수정하기 -->
	<update id="updatePic" parameterType="com.giggler.giggle.dto.UserDTO">
		<![CDATA[
			UPDATE user
			SET 	profile_image = #{profile_image}
			WHERE user_no = #{user_no}
		]]>
	</update>
	
	<!-- 프로필 수정하기 -->
	<update id="updateProfile" parameterType="com.giggler.giggle.dto.UserDTO">
		<![CDATA[
			UPDATE user
			SET 	user_nick = #{user_nick},
					status_message = #{status_message},
					user_location = #{user_location},
					user_birth = #{user_birth},
					profile_image = #{profile_image}
			WHERE user_no = #{user_no}
		]]>
	</update>
	
	<!-- 수정한 프로필 가져오기 -->
	 <select id="updateCheck" parameterType="com.giggler.giggle.dto.UserDTO" resultType="com.giggler.giggle.dto.UserDTO">
		<![CDATA[
			SELECT *
			FROM giggle
			WHERE user_no = #{user_no}
		]]>
	</select>
	
	<!-- mypage / notmypage알아내기 -->
	<select id="whichProfile" parameterType="Integer" resultType="com.giggler.giggle.dto.PostDTO">
		<![CDATA[
			SELECT post_no, user_no
			FROM post
			WHERE post_no = #{post_no}
		]]>
	</select>
	
	<!-- 다른 사람 프로필 가져오기 -->
	<select id="otherProfile" parameterType="com.giggler.giggle.dto.UserDTO" resultType="com.giggler.giggle.dto.UserDTO">
		<![CDATA[
			SELECT *
			FROM giggle
			WHERE user_no = #{user_no}
		]]>
	</select>
	
	<!-- myPage 게시글 수, 팔로워 수, 팔로잉 수 -->
	<select id="profileCnt" parameterType="String" resultType="com.giggler.giggle.dto.UserDTO">
		<![CDATA[
			SELECT *
			FROM profileCnt
			WHERE user_no = #{user_no}
		]]>
	</select>
	
	<!-- 프로필 사진 업데이트하기 -->
	<update id="picUpdate" parameterType="com.giggler.giggle.dto.UserDTO">
		<![CDATA[
			UPDATE user
			SET profile_image = #{profile_image}
			WHERE user_no = #{user_no}
		]]>
	</update>
	
	<!-- 팔로우 추천(3명) -->
	<select id="recommendFollow" parameterType="String" resultType="com.giggler.giggle.dto.UserDTO">
		<![CDATA[
			SELECT distinct(user_nick), user_no, user_email, user_pwd, user_birth, user_joindate, 
					user_location, open_yn, status_message, profile_image, back_image, follow_user, 
					follower_user, count_post
			FROM giggle
			WHERE user_no != #{user_no}
			AND user_no NOT IN ( SELECT follow_user FROM follow WHERE user_no =  #{user_no}) 
			ORDER BY rand()
			LIMIT 3
		]]>
	</select>
	
	<!-- 팔로우 추천(전부) -->
	<select id="recommendFollowAll" parameterType="String" resultType="com.giggler.giggle.dto.UserDTO">
		<![CDATA[
			SELECT distinct(user_nick), user_no, user_email, user_pwd, user_birth, user_joindate, 
					user_location, open_yn, status_message, profile_image, back_image, follow_user, 
					follower_user, count_post
			FROM giggle
			WHERE user_no != #{user_no}
			AND user_no NOT IN ( SELECT follow_user FROM follow WHERE user_no =  #{user_no}) 
			ORDER BY rand()
		]]>
	</select>
	
</mapper>

