<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.giggler.giggle.dao.MessageDAO">

<!-- 메세지 리스트 가져오기 -->
<select id="messageList" parameterType="com.giggler.giggle.dto.MessageDTO" resultType="com.giggler.giggle.dto.MessageDTO">
	SELECT 	message_no, message_room, message_senduser, message_getuser, date_format()message_sendtime, '%Y-%m-%d %H:%i') send_time, message_readtime, message_content, message_check
	FROM	message
	WHERE	message_no 	IN (SELECT max(message_no) FROM message GROUP BY message_room)
						AND(message_senduser = #{message_mynick} or message_getuser = #{message_mynick})
	ORDER BY message_no DESC;
</select>

</mapper>