<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.giggler.giggle.postUpload">

	<!-- 포스트 등록하기 -->
 	<insert id="addPost" parameterType="com.giggler.giggle.dto.PostDTO">
		<![CDATA[
			INSERT INTO giggledbaws.post ( user_no, text_content, post_date, post_link, read_count )
			VALUES	(#{user_no}, #{text_content}, sysdate(), #{post_link}, 0)
		]]>
	</insert> 
	
	<!-- 자신의 최신 포스트 번호 -->
 	<select id="currentPost" resultType="int" parameterType="com.giggler.giggle.dto.ListDTO">
	<![CDATA[
			SELECT max(post_no)
			FROM giggledbaws.post
			WHERE user_no = #{user_no}
		]]>
	</select>
	
	<!-- 포스트 상세조회 -->
 	<select id="postDetail" parameterType="int" resultType="com.giggler.giggle.dto.ListDTO">
	<![CDATA[
			select		p.post_no, u.user_no, u.user_nick, u.profile_image, p.text_content, p.post_date, p.like_cnt , p.comment_cnt ,p.post_link
			from 		giggledbaws.user u
			inner join  giggledbaws.post p 
			on 			p.user_no = u.user_no
			WHERE 		post_no = #{post_no}
		]]>
	</select>
	
	<!-- 포스트 등록하기 -->
 	<insert id="uploadImage" parameterType="com.giggler.giggle.dto.ImageDTO">
		<![CDATA[
			INSERT INTO giggledbaws.image ( post_no, imagepath, is_posting)
			VALUES	(#{post_no}, #{imagepath}, #{is_posting})
		]]>
	</insert> 
	

	
<!-- 		<select id="AllFeedList"  resultType="com.giggler.giggle.dto.ListDTO">
		<![CDATA[
			select		p.post_no, u.user_no, u.user_nick, u.profile_image, p.text_content, p.post_date, p.like_cnt , p.comment_cnt ,p.post_link
			from 		giggledbaws.user u
			inner join  giggledbaws.post p 
			on 			p.user_no = u.user_no
			WHERE 		post_no = #{post_no}
		]]>
	</select> -->

<!-- 	<resultMap id="buyerResult" type="com.greener.codegreen.dto.BuyerDTO">
		<result property="b_id"		   column="b_id"/>
		<result property="b_pwd"	   column="b_pwd"/>
		<result property="b_name"	   column="b_name"/>
		<result property="b_birth"	   column="b_birth"/>
		<result property="b_email"	   column="b_email"/>
		<result property="b_address1"  column="b_address1"/>
		<result property="b_address2"  column="b_address2"/>
		<result property="b_address3"  column="b_address3"/>
		<result property="b_grade"	   column="b_grade"/>
		<result property="b_joindate"  column="b_joindate"/>
		<result property="b_phone"	   column="b_phone"/>
		<result property="b_amount"	   column="b_amount"/>
	</resultMap> -->

    <!-- 월별 가입자수 차트 (정하)-->
	
<!-- 	<select id="getChart" parameterType="java.util.Map" resultType="java.util.Map">
	<![CDATA[
      select  
			sum( case str_month when 01 then sum end) as jan22,
			sum(case str_month when 02 then sum end) as feb22,
			sum(case str_month when 03 then sum end )as mar22,
			sum(case str_month when 04 then sum end) as apr22,
			sum(case str_month when 05 then sum end) as may22,
			sum(case str_month when 06 then sum end )as jun22,
			sum(case str_month when 07 then sum end )as jul22,
			sum(case str_month when 08 then sum end )as aug22,
			sum(case str_month when 09 then sum end )as sep22,
			sum(case str_month when 10 then sum end )as oct22,
			sum(case str_month when 11 then sum end )as nov22,
			sum(case str_month when 12 then sum end )as dec22
			from (
				select  count(*) as sum,
						substr(b_joindate, 6,2) as str_month,
						substr(b_joindate, 1,4) as str_year
				FROM Buyer
				where 
			    substr(b_joindate, 1,4) =2022
				group by substr(b_joindate,6,2)
				) 
				buyer 
				order by str_month;
				]]>
   </select> -->

	<!-- 총 회원 수 -->
<!-- 	<select id="getToTalMember" parameterType="com.greener.codegreen.dto.BuyerDTO" resultType="int">
	<![CDATA[
		SELECT count(*) 
		FROM b_id
		]]>
	</select> -->
	
	<!-- 이번주 가입 회원 수 -->
<!-- 	<select id="getWeekMember" parameterType="com.greener.codegreen.dto.BuyerDTO" resultType="int">
	<![CDATA[
		SELECT (SELECT count(*)
    		    FROM b_id
    			WHERE b_joindate > to_char(trunc(sysdate,'this'), 'yyyy/mm/dd'))
		FROM Buyer;
		]]>
	</select> -->
	
	
	
	<!-- 오늘 가입 회원 수 -->
<!-- 	<select id="getTodayMember" parameterType="com.greener.codegreen.dto.BuyerDTO" resultType="int">
		<![CDATA[
		SELECT (SELECT count(*)
    		    FROM b_id
    		 	WHERE b_joindate >= to_char(trunc(sysdate), 'yyyy/mm/dd'))
		FROM Buyer;
		]]>
	</select> -->
	
	
	
	<!-- 로그인(시훈) -->
<!-- 	<select id="loginByIdPwd" parameterType="com.greener.codegreen.dto.BuyerDTO" resultType="com.greener.codegreen.dto.BuyerDTO">
		<![CDATA[
			SELECT * 
			FROM   Buyer 
			WHERE  b_id = #{b_id} AND b_pwd = #{b_pwd} 
		]]>
	</select> -->
	
	<!--  아이디 중복 확인(민준) -->
<!-- 	<select id ="idCheck" parameterType="com.greener.codegreen.dto.BuyerDTO" resultType="INT">
		<![CDATA[
			SELECT count(*)
			FROM   Buyer
			WHERE  b_id = #{b_id}
		]]>
	</select> -->
	


	<!-- 소비자 전체 회원의 수(민준) -->
<!-- 	<select id = "totalCount" parameterType="com.greener.codegreen.dto.BuyerDTO" resultType="INT">
		<![CDATA[
			SELECT count(1)
			FROM   Buyer
			WHERE  1=1
		]]>
		<include refid="searchMySQL"/>
	</select> -->
	
	<!-- 검색 조건(민준), MySQL -->
<!-- 	<sql id="searchMySQL">
		<if test="searchType != null">
			<if test="searchType == 'b_id'.toString()">AND b_id LIKE CONCAT('%', #{keyword}, '%')</if>
			<if test="searchType == 'b_name'.toString()">AND b_name LIKE CONCAT('%', #{keyword}, '%')</if>
		</if>
	</sql> -->
	
	<!-- 소비자 전체 리스트(민준) -->
<!-- 	<select id = "buyerList" parameterType="hashmap" resultType="com.greener.codegreen.dto.BuyerDTO">
	 	<![CDATA[
	 		SELECT	b_id, b_name, b_birth, b_email, b_address2, b_address3, b_grade, b_joindate, b_phone, b_amount, b_num
				FROM (
					SELECT	b_id, b_name, b_birth, b_email, b_address2, b_address3, b_grade, b_joindate, b_phone, b_amount, b_num,
							ROW_NUMBER() OVER(ORDER BY b_num DESC) AS rNum
					FROM	Buyer
					WHERE	1=1
	 	]]>
		<include refid="searchMySQL"/>
		<![CDATA[
			) brd
			WHERE	rNum 	BETWEEN 1 + (#{perPageNum} * (#{page}-1) )
							AND		#{perPageNum}*#{page}
			ORDER BY b_num DESC
		]]>
	</select> -->
	
	<!--  구매자 아이디 상세 조회 -->
<!-- 	<select id="buyerDetail" parameterType="com.greener.codegreen.dto.BuyerDTO" resultType="com.greener.codegreen.dto.BuyerDTO">
		<![CDATA[
			SELECT	b_id, b_name, b_birth, b_email, b_address1, b_address2, b_address3, b_grade, b_joindate, b_phone
			FROM	Buyer
			WHERE	b_id = #{b_id}
		]]>
	</select> -->
	
</mapper>

